/* style for Flash messaging*/

.flash-error, .flash-success, .flash-notice, .flash-warning {
    border:1px solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding:5px;
}

.flash-error {
    background-color: #F2DEDE;
    border-color: #EBCCD1;
}

.flash-success {
    background-color: #DFF0D8;
    border-color: #D6E9C6;
}

.flash-notice {
    background-color: #D9EDF7;    
    border-color: #BCE8F1;
}

.flash-warning {
    background-color: #FCF8E3;    
    border-color: #FAEBCC;
}

/* custom class example for xx-large text*/
.larger-text {
    font-size: xx-large;
}